
/* @media (max-width: 576px) {
    .header {
        display:flex;
        flex-direction: column;
        align-items: center;
      }
      .header h2,
      header p{
        display: flex;
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
      }
      
       .header p {
        display: flex;
        font-size: 18px;
        text-align: center;
      } 
    
      .header-right {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    .banner{
      background:url('./banner.png' );
      height: 150px;
      width:100%;
      max-width: 100%;
     }
     .banner h2{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
     }
     form.row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .input-group {
        display: flex;
        flex-direction: row;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .mb-3 {
        margin-bottom: 1rem;
    }

    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .alignrow{
      margin-left: 2px;
    }
    .col-md-4{
      margin-bottom: 40px;
    }
    .footer{
        
        flex-direction: column;
        
    }
    .footer h2
    .footer p{
        font-size: 18px;
    }
    } */
  
    
  /* Mobile devices (up to 600px) */
@media (max-width: 600px) {
   .container {
    margin: 0px 0px 0px 0px;
  } 
   .container-fluid{
    overflow: hidden;
   
   }
  .header {
    flex-direction: column;
    align-items: center;
   
  }
  .header h2 {
    margin-left:62px ;
    margin-top: 35px;
    font-size: 29px;
  }
  .header-right {
    font-size: 20px;
    flex-direction: column;
  }
   .header p {
    margin-top: 5px;
  } 
  .header-pho{
    margin-bottom: 6px;
    margin-left: 8px;
  }
  .btn-signup {
    margin-top: 5px;
    width: 180px;
    margin-left: 0px;
  }
  .banner {
    margin: 0px 0px 0px 0px;
  }
  
  .text-wrapper {
    top: -30%;
    left: 17%;
  }  
  .banner h2{
    font-size: 30px;
    /* margin-left: 1%;
    margin-top: -16px; */
  }
  .bground {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    /* display: none; */
  }
  .input-group-prepend {
    margin-top: 20px;
  }
  .form-group label, .form-control {
    font-size: 14px;
  }
  .packages{
    margin-left: 0PX;
    font-size: 27px;
  }
  .bestpack{
    margin-left: 0px;
  }
   .nd, .writing, .list ul li, .card-text, .tax {
    font-size: 14px;
   
  }
  .card-title{
    line-height: 20px;
    font-size: 17px;
  }
  .nd{
    line-height: 10px;
    padding-top: 3px;
  }
  .list-ul-li{
    display: inline-block;
  }
  /* .alignrow{
    margin-left: 0px;
  } */
  /* .col-md-4{
    max-width: 350px;
    margin-top: -50px;
    padding-left: 18px;
  } */
  /* .col-list{
    margin-left: -4px;
    margin-top: -40px;
  } */
  /* .col-md-5{
    width: 146px;
  } */
   .card-package-card{
    width: 290px;
  }
  .alignrow{
   margin-left: 2rem;
   margin-right: 2rem;
  
  }
  .categories{
    margin-left: 2rem;
    margin-right: 2rem; 
    margin-bottom: 10px;
  }
  .cardstyle {
    margin-bottom: 10px;
    margin-top: 2px;
  }
  .title-col-sec{
    padding-left: 25px;
  }
  .card-img-top {
    width: 100%;
  }
  .list{
    display: grid;
    grid-template-rows:auto;
  }
  
  .btn-light {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn-warning {
    width: 100%;
  }
  
  .footer{
   
    width:100%;
  }
  .footer-p h2{
    font-size: 16px;
   
  }
  .chart{
    font-size: 13px;
    
  }
  .icons{
    /* margin-left: 1%; */
    padding-left: 0px;
    margin-bottom: 1px;
  }
  .footer-p p{
    font-size: 11px;
   
   
  }
}

/* Tablets (601px to 768px) */
 @media (min-width: 601px) and (max-width: 768px) {
  .container {
    margin:0px 0px 0px 0px;
  }
  .container-fluid{
    overflow: hidden;
   
   }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header h2 {
    margin-top: 15px;
    font-size: 30px;
    align-items: center;
    padding-left: 43px;
    margin-top: 17px;
  }
  .header-right {
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
  }
  .header-pho{
    padding-left: 0px;
    margin-bottom: 2px;
  }
  .header p {
    margin-top: 5px;
  }
  .btn-signup {
    width: 180px;
    height: 25px;
    margin-top: 5px;
  }
  .banner img{
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
  }
  .banner {
    align-items: center;
  }
  .banner h2{
    align-items: center;
    padding-left: 7px;
  }
  .text-wrapper {
    top: 25%;
    left: 20%;
  }
  .bground {
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
    /* display: none; */
  }
  .input-group-prepend {
    margin-top: 30px;
  }
  .form-group label, .form-control {
    font-size: 15px;
  }
  
  .categories {
    margin-left:6%;
  }
  .alignrow{
    margin-left: 6%;
    margin-right: 6%;
  }
  .cardstyle {
    margin-bottom:8px;
    margin-top: 0px;
  }
  .card-img-top {
    width: 100%;
  }
  .card-title, .nd, .writing, .card-text, .tax {
    font-size: 15px;
  }
  .title-col-sec{
    padding-left: 0px;
  }
  .list ul li{
    display: block;
    font-size: 15px;
  }
  .view-det{
    padding-left: 0px;
    margin-top: 14px;

  }
  .view-tax{
    padding-right: 0px;
  }
  .btn-light {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn-warning {
    max-width: 90%;
  }
  .row-rate{
    margin-bottom: 18px;
  }
  .footer{
   
    width:100%;
  }
  .footer-p h2{
    font-size: 16px;
   
  }
  .chart{
    font-size: 13px;
    
  }
  .icons{
    margin-top: 7px;
    padding-left: 0px;
    margin-bottom: 7px;
  }
  .footer-p p{
    font-size: 11px;
    margin-bottom: 0px;
   
  }
} 

/* Laptops (769px to 1200px) */
@media (min-width: 769px) and (max-width: 1200px) {
   /* .container {
    margin-right: 14%;
    margin-left: 14%;
  }  */
    .top-bar{
      margin-left: 5%;
      margin-right: 5%;
    }
  .header h2 {
    font-size: 30px;
  }
  .banner{
    margin-left: 5%;
    margin-right: 5%;
  }
  .btn-signup {
    width: 140px;
    height: 30px;
  }
  .text-wrapper {
    top: 20%;
    left: 40%;
  }
  .bground {
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
    /* display: none; */
  }
  .form-group label, .form-control {
    font-size: 17px;
  }
  .categories, .packages, .bestpack {
    margin-left: 5%;
  } 
   .alignrow{
    margin-left: 6%;
    margin-right: 6%;
   }
  .cardstyle {
    margin-bottom: 25px;
  }
  
   /* .packages, .bestpack {
    margin-left: ;
  } */
  
  .cardstyle {
    margin-bottom: 20px;
  }
  .card-title, .nd, .writing, .list ul li, .card-text, .tax {
    font-size: 17px;
  }
  .title-col{
    padding-right: 0px;
  }
  .title-col-sec{
    padding-left: 0px;
  }
  .view-tax{
    padding-right: 0px;
  }
  .btn-warning{
    width: 90%;
  }
  .view-det{
   
    /* margin-right: 2px; */
    margin-top: 15px;
    padding-left: 0px;
  }
  .btn-light {
    width: 100%;
    margin-bottom: 10px;
  }
  .row-rate{
    padding-bottom: 15px;
  }
  /* .footer{
    padding-top: 0%;
    padding-left: 0%;
    width:100%;
  }
  .footer-p h2{
    font-size: 16px;
  }
  .footer-p p{
    font-size: 11px;
    margin-bottom: 0px;
   
  }
  .chart{
    font-size: 13px;
    
  }/*/*
  .icons{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 0px;
  } 
} 
  


/* Desktops (above 1200px) */
@media (min-width: 1201px) and (max-width:1500px){
  .container {
    margin-right: 60px;
    /* margin-left: 60px; */
  }
   .top-bar{
    margin-left: 5%;
    margin-right: 5%;
   }
  .header h2 {
    font-size: 33px;
  }
  .btn-signup {
    width: 150px;
    height: 30px;
  }
  .text-wrapper {
    top: 20%;
    left: 40%;
  }
  .banner{
    margin-left: 5%;
    margin-right: 5%;
  }
  .bground {
    margin-left: 60px;
    margin-right: 60px;
    height: auto;
    display: none;
  }

  .form-group label, .form-control {
    font-size: 19px;
  }
   .categories{
    margin-left: 6%;
  } 
   .alignrow{
    margin-left: 6%;
    margin-right: 6%;
   }
   .title-col-sec{
    padding-left: 0px;
   }
  .cardstyle {
    margin-bottom: 25px;
  }
  .card-title, .nd,  .list ul li, .card-text, .tax {
    font-size: 19px;
  }
  .writing{
    font-size: 19px;
    line-height: 20px;
  }
  .row-rate{
    padding-bottom: 18px;
  }
  .card-text{
    line-height: 23px;
  }
  .view-tax{
    padding-right: 0px;
  }
  .view-det{
    padding-left: 1rem;
    margin-top: 14px;
  }
}
@media (min-width: 1601px){
  /* .container {
    margin-right: 60px;
    margin-left: 60px;
  } */
   .top-bar{
    margin-left: 5%;
    margin-right: 5%;
   }
  
  .header h2 {
    font-size: 33px;
    /* flex-grow: ; */
  }
  .btn-signup {
    width: 150px;
    height: 30px;
  }
  .text-wrapper {
    top: 20%;
    left: 40%;
  }
  .banner{
    margin-left: 5%;
    margin-right: 5%;
  }
  .bground {
    margin-left: 60px;
    margin-right: 60px;
    height: auto;
    display: none;
  }

  .form-group label, .form-control {
    font-size: 19px;
  }
   .categories{
    margin-left: 6%;
  } 
   .alignrow{
    margin-left: 6%;
    margin-right: 6%;
   }
   .title-col-sec{
    padding-left: 0px;
   }
  .cardstyle {
    margin-bottom: 25px;
  }
  .card-title, .nd,  .list ul li, .card-text, .tax {
    font-size: 19px;
  }
  .writing{
    font-size: 19px;
    line-height: 20px;
  }
  .row-rate{
    padding-bottom: 18px;
  }
  .card-text{
    line-height: 23px;
  }
  .view-tax{
    padding-right: 0px;
  }
  .view-det{
    padding-left:3rem;
    margin-top: 14px;
  }

}
  /* @media (min-width: 1900px){
    .container{
      margin-left: 346px;
    } */
    /* .header-right{
      margin-right: -400px;
    } */
  